<!DOCTYPE html>
<html>
  <head>
    <title>DBTEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      
      $('#header').keypress(function (event) {
        if (event.keyCode == 13) {
          var header = $('#header').val();
          
        }
      });
    </script>
  </head>
  <body>
    Header: <input type="text" name="header" /><br/>
    Node Level: <input type="text" name="level" /><br/>
    Topology: <input type="text" name="topology" /><br/>
    Connections:<br/><textarea rows="4" cols="50" name="connections"></textarea><br/>
    Text:<br/><textarea rows="25" cols="80" name="content"></textarea>
  </body>
</html>
