<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- JAVASCRIPTS -->
    <script data-main="javascripts/main.js" src="/javascripts/require.js"></script>
  </head>
  <body>
    <script>
      var packName = "<%= packName %>";
    </script>
    
    <div id='container'>
      <div id='header'>
        <div id='logo'>
        </div>
        <div id='profile-options'>
          <div id='home' class='profile-option-button'></div>
          <div id='about' class='profile-option-button'></div>
          <div id='user' class='profile-option-button'>Sir Parsnip</div>
        </div>
      </div>
      <div id='content'>
        <div id='main-panel'>
          <div id='search-bar'>
            <input id='search' type='text' />
            <input id='searchBtn' value='search' type='button' />
          </div>
          <div id='note-panel'></div>
        </div>
        <div id='note-list'>
          <ul>
            <li class='list-head'>YOUR NOTES<div id='add-item'>+</div></li>
            <li class='list-topic'>18.03</li>
            <li class='list-item'>Lecture 1</li>
            <li class='list-item'>Lecture 2</li>
            <li class='list-item'>Recitation 3</li>
            <li class='list-newitem'>+ new notes</li>
            <li class='list-topic'>6.012</li>
            <li class='list-item'>Tutorial 3</li>
            <li class='list-newitem'>+ new notes</li>
          </ul>
        </div>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

  </body>
</html>