<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      var packName = "<%= packName %>";
    </script>
    
    <div id='container'>
      <div id='header'>
        <div id='logo'>
        </div>
        <div id='profile-options'>
          <div id='home' class='profile-option-button'></div>
          <div id='about' class='profile-option-button'></div>
          <div id='user' class='profile-option-button'>Sir Parsnip</div>
        </div>
      </div>
      <div id='content'>
        <div id='main-panel'>
          <div id='search-bar'>
            <input id='search' type='text' />
            <input id='searchBtn' value='search' type='button' />
          </div>
          <div id='note-panel'></div>
        </div>
        <div id='note-list'>
          hey there, dawg <a href='#help'>help</a>
        </div>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>