body {
  font: 14px "Lucida Grande", "Lucida Sans",Helvetica, Arial, sans-serif;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

p{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

#header{
	height: 40px;
	background-color:#FFEED9;
	background-image: url("headerbar.png");
}

#logo{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 40px;
	width: 160px;
	float: left;
}
#logo:hover{
	cursor: pointer;
}
#profile-options{
	float: right;
}
.profile-option-button{
	background-color: rgba(0,0,0,0.05);
	height: 20px;
	min-width: 10px;
	float: left;
	margin-left: 5px;
	line-height: 20px;
	padding: 10px 15px;
	color: rgba(0,0,0,0.9);
	font-size: 1.1em;
	text-shadow: 0px -1px 0px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=-1);
}

.profile-option-button:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}
#content{

}

#main-panel{
	width: 80%;
	float: left;
}
#note-panel{
	padding: 50px;
}
#note-list{
	background-color: #eeeeee;
	border-left: 2px #1f0e00 solid;
	height: 500px;
	padding: 20px;
	width: calc(20% - 42px);
	width: -webkit-calc(20% - 42px);
	float: right;
}
#search-bar{
	background: #421c00; /* Old browsers */
	background: -moz-linear-gradient(top, #421c00 0%, #1f0e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#421c00), color-stop(100%,#1f0e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #421c00 0%,#1f0e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #421c00 0%,#1f0e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #421c00 0%,#1f0e00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #421c00 0%,#1f0e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421c00', endColorstr='#1f0e00',GradientType=0 ); /* IE6-9 */
	width: 100%;
}
#search:focus{
	border: 1px solid #592E09;
	background-color: #D6C4B4;
}
#search{
	font-family: inherit;
	font-size: 1.1em;
	outline: none;
	background-color: #C2B0A1;
	border: 1px solid #331903;
	margin: 7px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 3px 10px;
	width: 500px;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
#searchBtn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family: inherit;
	font-size:0.9em;
	font-weight:700;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	top: -1px;
	position: relative;
}
