body {
  font: 14px "Lucida Grande", "Lucida Sans",Helvetica, Arial, sans-serif;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

p{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

#header{
	height: 34px;
	background-color:#43b2b9;
}

#logo{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 34px;
	width: 160px;
	float: left;
}
#logo:hover{
	cursor: pointer;
}

#profile-options{
	float: right;
}

.profile-option-button{
	background-color: rgba(0,0,0,0.05);
	height: 20px;
	min-width: 10px;
	float: left;
	margin-left: 5px;
	line-height: 20px;
	padding: 10px 15px;
	color: rgba(0,0,0,0.9);
	font-size: 1.1em;
	text-shadow: 0px -1px 0px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=-1);
}

.profile-option-button:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}
#content{

}

#main-panel{
	width: 80%;
	float: left;
}
#note-panel{
	padding: 50px;
}
#note-list{
	background-color: #eeeeee;
	border-left: 2px #1f0e00 solid;
	height: 500px;
	padding: 20px;
	width: calc(20% - 42px);
	width: -webkit-calc(20% - 4ck2px);
	float: right;
}
#search-bar{
	background-color: #e6e6e6;
	width: 100%;
}
#search:focus{
	border: 1px solid #9fd3d6;
}
#search{
	font-family: inherit;
	font-size: 1.1em;
	outline: none;
	background-color: #ffffff;
	border: 1px solid #cedadb;
	margin: 7px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 3px 10px;
	width: 500px;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
#earchBtn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family: inherit;
	font-size:0.9em;
	font-weight:700;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	top: -1px;
	position: relative;
}

#searchBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffde8a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffde8a;
	box-shadow:inset 0px 1px 0px 0px #ffde8a;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffbb00), color-stop(1, #dba309) );
	background:-moz-linear-gradient( center top, #ffbb00 5%, #dba309 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbb00', endColorstr='#dba309');
	background-color:#ffbb00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dba309;
	display:inline-block;
	color: rgba(255,255,255,0.8);
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size:0.9em;
	font-weight:600;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px -1px 0px rgba(0,0,0,0.3);
	top: -1px;
	position: relative;
}