body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

p{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

#header{
	height: 40px;
	background-color:#FFEED9;
	background-image: url("headerbar.png");
}

#logo{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 40px;
	width: 160px;
	float: left;
}
.profile-options{
	float: right;
}
.profile-option-button{
	height: 40px;
	width: 40px;
	background-color: rgba(0,0,0,0.1);
	float: right;
	margin-left: 5px;
}

#content{

}

#note-panel{
	padding: 50px;
}